.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        padding-left: 25px;
    }
    h1 {
        color: #d2d2d2;
        font-size: 56px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        // &::before {
        //     content: '<h1>';
        //     font-family: 'La Belle Aurore';
        //     color: #ffd700;
        //     font-size: 18px;
        //     position: absolute;
        //     margin-top: -40px;
        //     left: 15px;
        //     opacity: 0.6;
        // }
        // &::after {
        //     content: '<h1/>';
        //     font-family: 'La Belle Aurore';
        //     color:#ffd700;
        //     font-size: 18px;
        //     position: absolute;
        //     margin-top: 18px;
        //     margin-left: 20px;
        //     animation: fadeIn 1s 1.7s backwards;
        //     opacity: 0.6;
        // }
        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
}

h2 {
    color: #ffc95da6;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color:#ffc85d;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'san-serif';
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffc85d;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #ffc85d;
        color: #333;
        
    }
}
.stage-cube-cont-home {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .cubespinner-home {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 300px;
      height: 300px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1-home {
      transform: translateZ(150px);
      color: #dd0031;
    }
    .face2-home {
      transform: rotateY(90deg) translateZ(150px);
      color: #f06529;
    }
    .face3-home {
      transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
      color: #28a4d9;
    }
    .face4-home {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
      color: #5ed4f4;
    }
    .face5-home {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
      color: #efd81d;
    }
    .face6-home {
      transform: rotateX(-90deg) translateZ(150px);
      color: #ec4d28;
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  